<!DOCTYPE html>
<html lang="de">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="Keywords" content="Naturheilkunde, Physiotherapie, Heilpraktikerin, Wassergymnastik, Heiße Rolle,
											 Moorpackung, Triggerpunkttherapie, Mc Kenzie Therapie, Akupunktur, Darmsanierung,
	                               Blutegeltherapie, Ohrkerzentherapie, Schröpfen, Urinuntersuchung, Stuhluntersuchung,
	                               Homöopathische Behandlung, Neuraltherapie, Pflanzenheilkunde, Sehlen, Rügen">
	<meta name="author" content="Christian Quass" >
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/main.css">
	{% seo %}
</head>

<body style = "background-color: #F8FFF;">
    {% include header.html %}

    <div itemscope="itemscope" itemtype="http://schema.org/HealthAndBeautyBusiness"> 
       <div itemprop="geo" itemscope="itemscope" itemtype="http://schema.org/GeoCoordinates"> 
          <meta itemprop="latitude" content="54.375875" /> <meta itemprop="longitude" content="13.392116" /> 
     </div> 
  </div>

    {{ content }}

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    {% include footer.html %}

</body>

</html>
